# Enrollment Statistics

First, let's import pandas...

In [3]:
import pandas as pd

...and bring in the data set.

In [4]:
data = pd.read_csv("school.csv")
data.head(3)

,Neighborhood,Id,Estimate; Total:,Margin of Error; Total:,Estimate; Enrolled in school:,Margin of Error; Enrolled in school:,"Estimate; Enrolled in school: - Enrolled in nursery school, preschool","Margin of Error; Enrolled in school: - Enrolled in nursery school, preschool",Estimate; Enrolled in school: - Enrolled in kindergarten,Margin of Error; Enrolled in school: - Enrolled in kindergarten,...,Estimate; Enrolled in school: - Enrolled in grade 11,Margin of Error; Enrolled in school: - Enrolled in grade 11,Estimate; Enrolled in school: - Enrolled in grade 12,Margin of Error; Enrolled in school: - Enrolled in grade 12,"Estimate; Enrolled in school: - Enrolled in college, undergraduate years","Margin of Error; Enrolled in school: - Enrolled in college, undergraduate years",Estimate; Enrolled in school: - Graduate or professional school,Margin of Error; Enrolled in school: - Graduate or professional school,Estimate; Not enrolled in school,Margin of Error; Not enrolled in school
0,Allegheny Center,1,1389.0,193.000000,394.0,120.000000,48.0,29.000000,0.0,10.000000,...,0.0,10.000000,21.0,32.000000,150.0,60.000000,51.0,35.000000,995.0,135.000000
1,Allegheny West,2,343.0,96.000000,61.0,44.000000,0.0,10.000000,0.0,10.000000,...,9.0,12.000000,0.0,10.000000,2.0,4.000000,25.0,22.000000,282.0,74.000000
2,Allentown,3,2520.0,449.503059,965.0,312.800256,19.0,22.825424,23.0,28.722813,...,41.0,53.823787,81.0,72.718636,125.0,87.120606,74.0,101.469207,1555.0,267.807767

As you can see, there is a lot of unneccessary data that makes it hard to see what we need. In order to get rid of this, we can trim the data to only what we need.

In [17]:
data = pd.DataFrame(data, columns=["Neighborhood","Estimate; Total:","Estimate; Enrolled in School:"])
data.head(6)

        Neighborhood  Estimate; Total:  Estimate; Enrolled in School:
0   Allegheny Center               NaN                            NaN
1     Allegheny West               NaN                            NaN
2          Allentown               NaN                            NaN
3          Arlington               NaN                            NaN
4  Arlington Heights               NaN                            NaN
5         Banksville               NaN                            NaN